@media screen and (max-width: 740px){
    .menina01{
        position: absolute;
        left: 31px;
        top: 79px;
        width: 330px;
    }
    .title01{
        position: absolute;
        left: 300px;
        top: 120px;
        font-size: 201%;
    }
    .title02{
        position: absolute;
        left: 300px;
        top: 100px;
        font-size: 60%;
        color: white;
    }
    .barra-branca{
        position: absolute;
        left: 197px;
    }
    .div-japa{
        position: absolute;
        top: 204px;
        left: 55%;
    }
  

    .paragrafo-div{
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        position: absolute;
        top: 236px;
        font-size: 70%;
        left: 40%;
        }

        .seg-title{
            color: rgb(49, 109, 34);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            text-align: center;
            margin-top: 30px;
        }

        .text-solo{
    
            width: 40%;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
           font-size: 70%;
            margin-left: 20px;
            margin-right: 20px;
        
        }
.text-img{
    position: absolute;
    left: -550px;
    top: 30px;
   
}
.img-choro{
    display: none;
}
.nova-img{
    display: inline-block;
width: 200px;
position: absolute;
left: 49.5%;
top: 370px;
}
.div-information{
    position: absolute;
    left: 60px;
    top: 810px;
}
.img-div{
    height: 225px;
}
.footer-img{
    position: absolute;
    top: 970px;
    width: 100%;
    height: 200px;
    background-color: rgb(22, 76, 22);
}




.div-img1{
    position: absolute;
    top: 950px;
    margin-left: 2px;
    }
    .img1{
        width: 150px;
        height: 220px;
    }
    .div-img2{
        position: absolute;
        top: 950px;
       left: 32%;
    }
    .img2{
        width: 150px;
        height: 220px;
    }
    .div-img3{
        display: none;
        position: absolute;
        top: 950px;
       left: 63%;
    }
    .img3{
        width: 140px;
        height: 220px;

    }
.text-menina-one{
    position: absolute;
    top: 86px;
    left: 45px;
}
}